@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body{
    background-color: #094333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: #b6a405;
}